name: Auto-merge

on:
  pull_request:

jobs:
  auto-merge:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ahmadnassri/action-dependabot-auto-merge@v2.3.0
        with:
          target: patch
          github-token: ${{ secrets.AUTOMERGE_TOKEN }}
